.espacamento-conteudo{
    padding-top: 80px;
}

.retrato{
    max-width: 400px !important;
}

.sobre-mim, .inicio, .carrossel{
    scroll-margin-top: 90px;
}

.barra-progresso{
    height: 20px !important;
}

@media screen and (max-width: 767px) {
    .retrato{
        max-width: 240px !important;
        margin-bottom: 10px;
    }
}

.carrossel{
    width: 80vw;
    max-width: 980px;
    margin: 0 auto !important;
}

.link-no-underline{
    text-decoration: none;
}

/* Adicione este CSS ao seu arquivo de estilos */
.footer-icon {
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .footer-icon:hover {
    transform: scale(1.2);
    color: #ffcc00; /* Cor desejada ao passar o mouse */
  }
  
  .copy-email {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .copy-email:hover {
    color: #ffcc00; /* Cor desejada ao passar o mouse */
  }
  